<!DOCTYPE html>
<html>
	<head>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"></link>
		<title>Url Shortner Basejump</title>
	</head>
	<body>
		<h1>Free Code Camp API Basejump: URL Shortner</h1>
		<h2>User Stories</h2>
		<ul>
			<li>User can pass a URL as a parameter and will recieve a shortened URL in a JSON Response</li>
			<li>When the User visit the URL, it will redirect him/her to the Original Link</li>
		</ul>
		<h3>Example creation usage:</h3>
		<code>
			{{mainUrl}}/new/https://www.google.com
		</code>
		<br /><br />
		<code>
			{{mainUrl}}/new/https://foo.com
		</code>
		<h3>Example creation output</h3>
		<code>
			{
				original_url: "https://www.twitch.tv",
				shortened_url: "{{mainUrl}}/3751"
			}
		</code>
		<h3>Usage:</h3>
		<code>{{mainUrl}}/3751</code>
		<h3>Will redirect to:</h3>
		<code>https://www.twitch.tv</code>
		<br /><br />
		<footer>
			Created by Hossam Hosny
		</footer>
	</body>
</html>
