<!DOCTYPE html>
<html>
	<head>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"></link>
		<title>Url Shortner Basejump</title>
	</head>
	<body>
		<h1>Free Code Camp API Basejump: URL Shortner</h1>
		<h2>User Stories</h2>
		<ul>
			<li>User can pass a URL as a parameter and will recieve a shortened URL in a JSON Response</li>
			<li>When the User visit the URL, it will redirect him/her to the Original Link</li>
		</ul>
		<h3>Example creation usage:</h3>
		<code>
			https://localhost/new/https://www.google.com
		</code>
		<br /><br />
		<code>
			https://localhost/new/https://foo.com
		</code>

	</body>
</html>
